<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/booking.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Jays Looks</title>
</head>
<body>
    <% if(typeof isLoggedIn !== 'undefined' && isLoggedIn) { %>
        <div class="nav">
            <h1>Jay's Looks</h1>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/bookings">Book</a></li>
            <li><a href="/failed_bookings">Failed Bookings</a></li>
            <li><a href="/slots">Slot</a></li>
            <li><a href="/logics">Daily Logics</a></li>
            
            <% if(isAuthenticated){ %>
                <li><a href="/users/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/users/login">Login</a></li>
            <% } %>
            
           
            </ul>
        </div>
    <% } %> 

 
    

    <%- body %>
    
</body>
</html>