.booking{
    background-image: url('../img/adam-winger-KVVjmb3IIL8-unsplash.jpg');
    background-size: cover;
    height: 110vh;
    margin-top: -5.6em;
}

.booking h1{
    padding: 3em;
    text-align: center;
}