.booking{
    background-image: url('../img/adam-winger-KVVjmb3IIL8-unsplash.jpg');
    background-size: cover;
    height: 110vh;
    margin-top: -5.6em;
}

.booking h1{
    padding: 3em;
    text-align: center;
}

.booking a {
    color: black;
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.details a {
    color: white;
}

.book-card{
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    width :20em;
    height: 8em;
}

.book-card h4, a{
    color: white;
    margin: 0.5em;
}

.input-box {
    left: 0.3em;
}