.home {
    background-image: url('../img/andrea-donato-MGt5tcLebds-unsplash.jpg');
    background-size: cover;
    height: 150vh;
    margin-top: -5.7em;;
}

.home h1{
    text-align: center;
    padding: 6em;
}

.home h3{
    text-align: center;
    padding-top: -2em;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    padding-left: 16.5em;
    margin-top: -1.5em;
}

input {
    border: 3px solid ;
    height: 40px;
    width: 300px;
    border-radius: 50px;
    padding: 0px 10px;
}
.grid {
    width: 100%;
    display: flex;
    gap: 2em;
}

.grid img{
    background-repeat: no-repeat;
    height: 140px;
    width: 140px;
    clip-path: circle();
}

.navbar {
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 3em;
}

.navbar ul :hover {
    color: rgb(243, 119, 10);
}

.navbar a {
    text-decoration: none;
    font-size: 17px;
    color: rgb(243, 119, 10);
}