.login-page{
    border: 3px solid black;
    min-height: 50vh;
    width: 500px;
    margin: auto;
    margin-top: 10em;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../img/andrea-donato-xIYzPKPYqQg-unsplash.jpg');
    background-size: cover;
    height: 75vh;
}

.form h1 {
    text-align: center;
    padding-top: 1.5em;
    color: rgb(252, 119, 4);
}

.input-box{
    width: 100%;
    padding-left: 6em;
}

.input-box, 
.input-box textarea {
    width: 50%;
    font-size: 16px;
    margin: 10px 0;
    outline: none;
}

.input-box span {
    width: 300px;  
    height: 30px;  
    border: none;  
    padding-left: 10px;
    color: rgb(252, 119, 4);
}

.send {
    width: 100px;
    height: 30px;
    background: rgb(243, 119, 10);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-left: 11em;
    border-radius: 10px;
}