* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 3em;
}

.nav ul :hover {
    color: rgb(243, 119, 10);
}

.nav a {
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.nav h1{
    font-family: Gabriola;
    color: rgb(243, 119, 10);
}

.nav-active {
    background-color: rgb(252, 119, 4);
}

/* .footer {
    margin-top:-3em;
}

.footer-icons {
    padding-left: 35em;
    display: flex;
    gap: 1em;
    font-size: 20px;
    margin-top:-1em;
} */