.users{
    background-image: url('../img/greg-trowman-jsuWg7IXx1k-unsplash.jpg');
    background-size: cover;
    height: 110vh;
}

.users h1{
    text-align: center;
    color: white;
}

.details {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    padding-left: 4em;
    padding-top: 3em;
}

.user-card{
    background-color: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    width :35em;
    height: 10em;
}

.user-card h4{
    margin: 0.5em;
    color: white;
}

.delete a {
    color: black;
}