<div class="error">
    <h1>404</h1> 
    <p>You're either misspelling the URL <br /> or requesting a page that's no longer here.</p>

    <form class="search">
        <input type="text" class="search-bar" placeholder="Search">
        <button type="submit" class="search-btn">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <a href="/">Back To Home</a>
</div>