<div class="internal">
    <p>Internal Server Error
        Oops! Something went wrong.
        
        The server encountered an internal error or misconfiguration and was unable to complete your requests</p>
</div>