<div class="add-form">
    <h1>Book a Slot</h1>

    <form method="post" action="/bookings/user">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="input-box">
            <input type="text" name="name" required="required">
            <span>Name</span>
        </div>
        <div class="input-box">
            <input type="number" name="phone_number" value="<%= phone_number %>" required="required">
            <span>Phone Number</span>
        </div>
        <div class="input-box">
            <input type="password" name="password">
            <label>Password</label>
        </div>

        <button class="send" type="submit" value="Submit">Send</button>
    </form>

</div>