<div class="home">
    <h1>WELCOME TO JAY'S LOOKS</h1>

    <div class="search">
        <input type="text" name="box" placeholder="Search for a service...">
     <div class="btn">
        <a href="#"><i class="fa fa-search"></i></a>
    </div>
    </div>
   

    <div class="grid">
        <img src="img/hairsalon.jpg" alt="Error Loading Image"> 
        <img src="img/nailsalon.jpg" alt="Error Loading Image"> 
        <img src="img/skincare.jpg" alt="Error Loading Image"> 
        <img src="img/e&l.jpg" alt="Error Loading Image"> 
        <img src="img/massage.jpg" alt="Error Loading Image"> 
        <img src="img/makeup.jpg" alt="Error Loading Image"> 
        <img src="img/dayspa.jpg" alt="Error Loading Image"> 
        <img src="img/barber.jpg" alt="Error Loading Image"> 
    </div>

    <ul class="navbar">
        <li><a href="">Hair Salon</a></li>
        <li><a href="">Nail Salon</a></li>
        <li><a href="">Skin Care</a></li>
        <li><a href="">Eyebrows & Lashes</a></li>
        <li><a href="">Massage</a></li>
        <li><a href="">Makeup</a></li>
        <li><a href="">Day Spa</a></li>
        <li><a href="">Barbershop</a></li>
    </ul>
</div>