<div class="home">
    <h1>WELCOME TO JAY'S LOOKS</h1>

    <div class="grid">
        <img src="../../public/img/hair salon.jpg" alt="Error Loading Image"> 
        <img src="../../public/img/nail salon.jpg" alt="Error Loading Image"> 
        <img src="../../public/img/skin care.jpg" alt="Error Loading Image"> 
        <img src="../../public/img/e&l.jpg" alt="Error Loading Image"> 
        <img src="../../public/img/massage.jpg" alt="Error Loading Image"> 
        <img src="../../public/img/makeup.jpg" alt="Error Loading Image"> 
        <img src="../../public/img/day spa.jpg" alt="Error Loading Image"> 
        <img src="../../public/img/barber.jpg" alt="Error Loading Image"> 
    </div>

    <ul class="navbar">
        <li><a href="">Hair Salon</a></li>
        <li><a href="">Nail Salon</a></li>
        <li><a href="">Skin Care</a></li>
        <li><a href="">Eyebrows & Lashes</a></li>
        <li><a href="">Massage</a></li>
        <li><a href="">Makeup</a></li>
        <li><a href="">Day Spa</a></li>
        <li><a href="">Barbershop</a></li>
    </ul>
</div>