<div class="login-page">
    
    <form method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="input-box">
            <input type="number" id="phone_number" name="phone_number" required="required">
            <span>Phone Number</span>
        </div>
        <div class="input-box">
            <input type="text" id="password" name="password" required="required">
            <span>Password</span>
        </div>

        <button class="send" type="submit" value="Submit">Send</button>
    </form>

</div>