<div class="logout">
    <p>You've successfully logged out of your account</p>
    <h5>Redirecting to login page</h5>
    <a href="/users/login">Login</a>
</div>
<script src="js/logout.js"></script>   