<div class="slots">
    <h1>Available Slots</h1>

    <a href="/bookings/add">Book a slot</a>
    <a href="/slots/add">Add slot</a>

    <div class="details">
        <% if(typeof slots != 'undefined') { %>
        <% slots.forEach((slot) => { %>
        <div class="slot-card">
            <h4>Date: <%= slot.date %></h4>
            <h4>Quantity: <%= slot.quantity %></h4>
        </div>
        <% }) %>
        <% } %>
    </div>

</div>